* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FUNDO COMPLETO */
body {
    min-height: 100vh;
    font-family: 'Times New Roman', Times, serif;

    background-image: url("assets/todofundo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* OVERLAY */
body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(165, 165, 165, 0.25);
    z-index: 0;
}

/* Garante que conteúdo fique acima do overlay */
header, main, footer {
    position: relative;
    z-index: 1;
}

/* HEADER */
header {
    margin-bottom: 30px;
    text-align: center;
}

header h1 {
    color: #2c3e50;
    font-size: 42px;
}

/* CARD FORM */
main {
    background: #dbdbdb;
    padding: 40px;
    border-radius: 12px;
    width: 400px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
}

/* FORM */
form {
    width: 100%;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
}

legend {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* GRUPOS */
.group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    margin-bottom: 5px;
    font-size: 16px;
}

input, select {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #d0d7e2;
    font-size: 14px;
}

input:focus,
select:focus {
    outline: none;
    border-color: #555;
}

/* BOTÃO */
button {
    padding: 12px;
    border-radius: 6px;
    border: none;
    background-color: #2c6bed;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #1e4fc2;
}

/* FOOTER */
footer {
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    color: #2c3e50;
    font-size: 14px;
}


/* RESPONSIVO */
@media (max-width: 768px) {
    main {
        width: 90%;
    }
}